#joueur{
    width: 10px;
    height: 10px;
    background-color: black;
    font-size: 9px;
    color: antiquewhite;
    text-align: center;    
    border-radius: 2px;
    border-color: blue;
    position: relative;
    top : var(--accent-top);
    bottom: var(--accent-bottom);
    right : var(--accent-right);
    left: var(--accent-left)
    
}
body{
    background-color: brown;

}
#img{
    width: 400px;
    height: 400px;
}
